<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-box">
                    <div class="footer-title">
                        <h5>{{ 'footer.Social' | translate }}</h5>
                    </div>
                    <div class="footer-desc">
                        <p>{{ 'footer.description' | translate }}</p>
                    </div>
                    <div class="app-img">
                        <div class="app-store"><a href="#"><img src="../../assets/instagram.png" alt="" /></a></div>
                        <div class="app-store"><a href="#"><img src="../../assets/facebook.png" alt="" /></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-box">
                    <div class="footer-title">
                        <div class="footer-logo"> <a id="logo" href="#">YP</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-box">
                    <div class="footer-title">
                        <h5>{{ 'footer.quickLinks' | translate }}</h5>
                    </div>
                    <div class="footer-desc">
                        <ul>
                            <li><a routerLink="/about">{{ 'footer.aboutUs' | translate }}</a></li>
                            <li><a routerLink="/products" >{{ 'footer.store' | translate }}</a></li>
                            <li><a routerLink="/contacts">{{ 'footer.contacts' | translate }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-box">
                    <div class="footer-title">
                        <h5>{{ 'footer.Links' | translate }}</h5>
                    </div>
                    <div class="footer-desc">
                        <ul>
                            <li><a href="#">{{ 'footer.policity' | translate }}</a></li>
                            <li><a href="#">{{ 'footer.details' | translate }}</a></li>
                            <li><a href="#">{{ 'footer.cupons' | translate }}</a></li>
                            <li><a href="#">{{ 'footer.condition' | translate }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>