<div class="wrapper">
	<div class="content">
		<!-- content here -->
		<div class="product-grid product-grid--flexbox">
			<div class="product-grid__wrapper">
				<!-- Product list start here -->

				<!-- Single product -->
				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image1}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title1}}</span>
						<span class="product-grid__price">{{price1}} LEI</span>
						<div class="product-grid__extend-wrapper">

							<div class="product-grid__extend">
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone1()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>
				<!-- end Single product -->

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image2}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title2}}</span>
						<span class="product-grid__price">{{price2}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">

								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone2()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image3}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title3}}</span>
						<span class="product-grid__price">{{price3}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description3}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone3()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image4}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title4}}</span>
						<span class="product-grid__price">{{price4}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description4}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone4()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image5}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title5}}</span>
						<span class="product-grid__price">{{price5}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description5}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone5()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image6}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title6}}</span>
						<span class="product-grid__price">{{price6}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description6}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone6()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image7}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title7}}</span>
						<span class="product-grid__price">{{price7}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description7}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone7()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image8}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title8}}</span>
						<span class="product-grid__price">{{price8}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description8}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone8()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>

				<div class="product-grid__product-wrapper">
					<div class="product-grid__product">
						<div class="product-grid__img-wrapper">
							<img src={{image9}} alt="Img" class="product-grid__img" />
						</div>
						<span class="product-grid__title">{{title9}}</span>
						<span class="product-grid__price">{{price9}}</span>
						<div class="product-grid__extend-wrapper">
							<div class="product-grid__extend">
								<p class="product-grid__description">{{description9}}</p>
								<span class="product-grid__btn product-grid__add-to-cart"><i
										class="fa fa-cart-arrow-down"></i>
									{{ 'products_details.addCard' | translate }}</span>
								<button mat-raised-button
									(click)="phone9()">{{ 'producst.moreDetails' | translate }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>