<section class="shop">
    <div class="shop__products">
        <div class="products">
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title1}}</h1>
                    <img src="../../assets/huse1.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup">

                        <div class="popup">
                            <label for="login-popup" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title2}}</h1>
                                    <label for="login-popup" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse1.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator1}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru1}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model1}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret1}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title2}}</h1>
                    <img src="../../assets/huse2.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup1">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup1">

                        <div class="popup">
                            <label for="login-popup1" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title2}}</h1>
                                    <label for="login-popup1" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse2.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator2}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru2}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model2}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret2}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title3}}</h1>
                    <img src="../../assets/huse3.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup2">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup2">

                        <div class="popup">
                            <label for="login-popup2" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title3}}</h1>
                                    <label for="login-popup2" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse3.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator3}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru3}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model3}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret3}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title4}}</h1>
                    <img src="../../assets/huse4.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup3">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup3">

                        <div class="popup">
                            <label for="login-popup3" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title4}}</h1>
                                    <label for="login-popup3" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse4.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator4}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru4}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model4}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret4}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title5}}</h1>
                    <img src="../../assets/huse5.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup4">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup4">

                        <div class="popup">
                            <label for="login-popup4" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title5}}</h1>
                                    <label for="login-popup4" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse5.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator5}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru5}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model5}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret5}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title6}}</h1>
                    <img src="../../assets/huse6.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup5">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup5">

                        <div class="popup">
                            <label for="login-popup5" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title6}}</h1>
                                    <label for="login-popup5" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse6.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator6}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru6}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model6}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret6}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title7}}</h1>
                    <img src="../../assets/huse7.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup6">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup6">

                        <div class="popup">
                            <label for="login-popup6" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title7}}</h1>
                                    <label for="login-popup6" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse7.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator7}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru7}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model7}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret7}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title8}}</h1>
                    <img src="../../assets/huse8.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup7">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup7">

                        <div class="popup">
                            <label for="login-popup7" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title8}}</h1>
                                    <label for="login-popup7" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse8.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator8}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru8}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model8}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret8}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title9}}</h1>
                    <img src="../../assets/huse9.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup8">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup8">

                        <div class="popup">
                            <label for="login-popup8" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title9}}</h1>
                                    <label for="login-popup8" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse9.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator9}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru9}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model9}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret9}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title10}}</h1>
                    <img src="../../assets/huse10.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup9">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup9">

                        <div class="popup">
                            <label for="login-popup9" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title10}}</h1>
                                    <label for="login-popup9" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse10.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator10}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru10}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model10}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret10}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title11}}</h1>
                    <img src="../../assets/huse11.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup10">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup10">

                        <div class="popup">
                            <label for="login-popup10" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title11}}</h1>
                                    <label for="login-popup10" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse11.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator11}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru11}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model11}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret11}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
            <div class="products__item">

                <article class="product">
                    <h1 class="product__title">{{title12}}</h1>
                    <img src="../../assets/huse12.jpg">
                    <div class="row popup-container">
                        <label class="popup-button" for="login-popup11">
                            {{ 'products_details.addCard' | translate }}</label>
                        <input type="checkbox" id="login-popup11">

                        <div class="popup">
                            <label for="login-popup11" class="transparent-label"></label>
                            <div class="popup-inner">
                                <div class="popup-title">
                                    <h1 class="product__title">{{title12}}</h1>
                                    <label for="login-popup11" class="popup-close-btn">
                                        <mat-icon>close</mat-icon>
                                    </label>
                                </div>
                                <div class="popup-content row">
                                    <div class="col"> <img src="../../assets/huse12.jpg"></div>
                                    <div class="col">
                                        <mat-list>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.delivery' | translate }}
                                            </mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item>{{ 'products_details.retur' | translate }}</mat-list-item>
                                            <mat-divider></mat-divider>
                                        </mat-list>

                                        <mat-list>
                                            <mat-list-item><b>{{ 'products_details.producator' | translate }}:</b> {{producator12}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.tehnical_details' | translate }}:</b> </mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.utilizare' | translate }}: </b> {{pentru12}}</mat-list-item>
                                            <mat-list-item><b>{{ 'products_details.model' | translate }}:</b> {{model12}}</mat-list-item>
                                        </mat-list>
                                    </div>
                                    <div class="col">
                                        <h2>{{pret12}} LEI</h2>
                                        <div class="aligment">
                                            <button
                                                class="log">{{ 'products_details.addToFavorites' | translate }}</button>
                                            <button class="reg">{{ 'products_details.addCard' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</section>

<aside class="cart js-cart">
    <div class="cart__header">
        <h1 class="cart__title">Shopping cart</h1>
        <p class="cart__text">
            <a class="button button--light js-toggle-cart" href="#" title="Close cart">
                Close cart
            </a>
        </p>
    </div>
    <div class="cart__products js-cart-products">
        <p class="cart__empty js-cart-empty">
            Add a product to your cart
        </p>
        <div class="cart__product js-cart-product-template">
            <article class="js-cart-product">
                <h1>Product title</h1>
                <p>
                    <a class="js-remove-product" href="#" title="Delete product">
                        Delete product
                    </a>
                </p>
            </article>
        </div>
    </div>
    <div class="cart__footer">
        <p class="cart__text">
            <a class="button" href="#" title="Buy products">
                Buy products
            </a>
        </p>
    </div>
</aside>

<div class="lightbox js-lightbox js-toggle-cart"></div>

<app-footer></app-footer>