<div
    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
    <div class="my-0 lg:my-3"
        style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin-top: 0.75rem; margin-bottom: 0.75rem;">
        <h1 class="font-bold leading-none text-black m-0 text-center text-base lg:text-3xl bg-gray-lighter lg:bg-transparent -mx-15px lg:mx-auto px-3 pt-4 pb-3 lg:p-0 border-b lg:border-b-0"
            style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; font-size: 1.875rem; margin: 0px auto; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1; text-rendering: optimizelegibility; background-color: transparent; padding: 0px; text-align: center;'>
            <div
                style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
                <h3 class="Specs-title"
                    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin: 1em 0px 0.5em; font-size: 15px; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.25em; text-rendering: optimizelegibility; display: block;'>
                    Caracteristici generale</h3>
                <table class="Specs-table"
                    style="box-sizing: inherit; border: 1px solid rgb(194, 185, 179); border-collapse: separate; width: 480px; margin: 9px 0px 30px; background-color: rgb(255, 255, 255); border-radius: 5px; overflow: hidden; color: rgba(0, 0, 0, 0.8); border-spacing: 0px;">
                    <tbody style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit;">
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: none; border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Model</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border: none; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                IPHONE SE 2</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Sloturi Sim</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Dual SIM</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                SIM</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Nano SIM / eSIM</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Retea 2G</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                GSM/EDGE (850, 900, 1800, 1900 MHz)</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Retea 3G</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                CDMA EV‑DO Rev. A (800, 1900 MHz), UMTS/HSPA+/DC‑HSDPA (850, 900, 1700/2100, 1900, 2100
                                MHz)</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Retea 4G</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                FDD‑LTE (Bands 1, 2, 3, 4, 5, 7, 8, 12, 13, 14, 17, 18, 19, 20, 25, 26, 29, 30, 66, 71),
                                TD‑LTE (Bands 34, 38, 39, 40, 41, 42, 46, 48)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
                <h3 class="Specs-title"
                    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin: 1em 0px 0.5em; font-size: 15px; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.25em; text-rendering: optimizelegibility; display: block;'>
                    Ecran</h3>
                <table class="Specs-table"
                    style="box-sizing: inherit; border: 1px solid rgb(194, 185, 179); border-collapse: separate; width: 480px; margin: 9px 0px 30px; background-color: rgb(255, 255, 255); border-radius: 5px; overflow: hidden; color: rgba(0, 0, 0, 0.8); border-spacing: 0px;">
                    <tbody style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit;">
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: none; border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Tip ecran</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border: none; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Retina HD display</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Dimensiune ecran (inch)</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                4.7</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Rezolutie ecran (pixeli)</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                1334 x 750</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Alte specificatii ecran</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Design MultiTouch cu tehnologie IPS, Contrast 1400:1, True Tone display, Wide color
                                display (P3), Haptic Touch, Luminozitate 625 nits</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
                <h3 class="Specs-title"
                    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin: 1em 0px 0.5em; font-size: 15px; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.25em; text-rendering: optimizelegibility; display: block;'>
                    Memorie</h3>
                <table class="Specs-table"
                    style="box-sizing: inherit; border: 1px solid rgb(194, 185, 179); border-collapse: separate; width: 480px; margin: 9px 0px 30px; background-color: rgb(255, 255, 255); border-radius: 5px; overflow: hidden; color: rgba(0, 0, 0, 0.8); border-spacing: 0px;">
                    <tbody style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit;">
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: none; border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Capacitate stocare</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border: none; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                64 GB</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Memorie RAM</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                3 GB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
                <h3 class="Specs-title"
                    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin: 1em 0px 0.5em; font-size: 15px; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.25em; text-rendering: optimizelegibility; display: block;'>
                    Procesor</h3>
                <table class="Specs-table"
                    style="box-sizing: inherit; border: 1px solid rgb(194, 185, 179); border-collapse: separate; width: 480px; margin: 9px 0px 30px; background-color: rgb(255, 255, 255); border-radius: 5px; overflow: hidden; color: rgba(0, 0, 0, 0.8); border-spacing: 0px;">
                    <tbody style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit;">
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: none; border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Procesor</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border: none; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                A13 Bionic chip, Third‑generation Neural Engine</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
                <h3 class="Specs-title"
                    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin: 1em 0px 0.5em; font-size: 15px; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.25em; text-rendering: optimizelegibility; display: block;'>
                    Foto video</h3>
                <table class="Specs-table"
                    style="box-sizing: inherit; border: 1px solid rgb(194, 185, 179); border-collapse: separate; width: 480px; margin: 9px 0px 30px; background-color: rgb(255, 255, 255); border-radius: 5px; overflow: hidden; color: rgba(0, 0, 0, 0.8); border-spacing: 0px;">
                    <tbody style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit;">
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: none; border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Camera principala</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border: none; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Single</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Facilitati</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Mod Portret cu Bokeh avansat si Depth Control, Luminare portret cu 6 efecte - Natural,
                                Studio, Contour, Stage, Stage Mono, High-Key Mono, LED True Tone flash cu Slow Sync,
                                Panorama (pana la 63MP), Sapphire crystal lens cover, Wide color capture pentru imagini
                                si Live Photos, Smart HDR, Burst mode, Photo geotagging, OIS video, zoom digital pana la
                                3x, LED True Tone flash, QuickTake video, Slo mo video 1080p, Time lapse video with
                                stabilizare, Stabilizare Cinematic video, Playback zoom, Stereo recording</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Rezolutie (Mp)</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                12MP (Wide), f1/8, OIS, AIS, Six‑element lens</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Rezolutie video</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                4K</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Focus</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Autofocus cu Focus Pixels</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Zoom</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                Digital zoom pana la 5x</td>
                        </tr>
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Selfie Camera</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: 1px solid rgb(194, 185, 179); border-right: none; border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                7MP, F2.2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div
                style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; color: rgb(88, 82, 78); font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
                <h3 class="Specs-title"
                    style='box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; margin: 1em 0px 0.5em; font-size: 15px; font-weight: 700; color: rgb(0, 0, 0); font-family: metawp, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.25em; text-rendering: optimizelegibility; display: block;'>
                    Software</h3>
                <table class="Specs-table"
                    style="box-sizing: inherit; border: 1px solid rgb(194, 185, 179); border-collapse: separate; width: 480px; margin: 9px 0px 30px; background-color: rgb(255, 255, 255); border-radius: 5px; overflow: hidden; color: rgba(0, 0, 0, 0.8); border-spacing: 0px;">
                    <tbody style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit;">
                        <tr class="Specs-row"
                            style="box-sizing: inherit; border: 0px solid rgb(194, 185, 179); border-collapse: inherit; vertical-align: middle;">
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border-top: none; border-right: 1px solid rgb(194, 185, 179); border-bottom: none; border-left: none; border-image: initial; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left; background-color: rgb(240, 237, 236); font-weight: 700; color: rgba(0, 0, 0, 0.8); width: 191.2px;">
                                Sistem de operare</td>
                            <td class="Specs-cell"
                                style="box-sizing: inherit; border: none; border-collapse: inherit; padding: 0.7em 0.8em; vertical-align: middle; text-align: left;">
                                iOS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </h1>
    </div>
</div>