<section id="head">
    
 <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="head-img" src="../../assets/slider3.jpg" alt="" />
            </div>

            <div class="col-md-6 head-text">
                <h6>{{ 'textBox.title' | translate }}</h6>
                <h1>{{ 'textBox.subtitle' | translate }}</h1>
                <p>{{ 'textBox.description' | translate }}</p>
                <button class="my-btn btn"><i
                        class="fas fa-cart-arrow-down"></i>{{ 'textBox.shopNow' | translate }}</button>
            </div>
        </div>
    </div>
</section> 
 <section id="shiping">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="shipping-box">
                    <div class="box-icon"><i class="fas fa-truck"></i></div>
                    <div class="box-title">
                        <h3>{{ 'shipping-box.freeShipping' | translate }}</h3>
                        <p>{{ 'shipping-box.PriceDesc' | translate }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shipping-box">
                    <div class="box-icon"><i class="far fa-address-book"></i></div>
                    <div class="box-title">
                        <h3>{{ 'shipping-box.Certificate' | translate }}</h3>
                        <p>{{ 'shipping-box.Garantie' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shipping-box">
                    <div class="box-icon"><i class="far fa-money-bill-alt"></i></div>
                    <div class="box-title">
                        <h3>{{ 'shipping-box.Savings' | translate }}</h3>
                        <p>{{ 'shipping-box.lowestPrice' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shipping-box">
                    <div class="box-icon"><i class="fas fa-recycle"></i></div>
                    <div class="box-title">
                        <h3>{{ 'shipping-box.returns' | translate }}</h3>
                        <p>{{ 'shipping-box.returnsQuestions' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Best-selling">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h1>{{ 'bestSelling-box.title' | translate }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="products">
                        <div class="product-img"><img src="../../assets/jante8.jpg" alt="" /></div>
                        <div class="product-desc">
                            <div class="product-name"><a href="#">
                                    <h4>{{ 'bestSelling-box.jante' | translate }}</h4>
                                </a></div>
                            <div class="product-rating"><img
                                    src="https://multifix24.es/wp-content/uploads/2019/03/multifix24-5-estrellas.png"
                                    alt="" /></div>
                            <div class="product-price">
                                <h5>$35.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="products">
                        <div class="product-img"><img src="../../assets/jante5.jpg" alt="" /></div>
                        <div class="product-desc">
                            <div class="product-name"><a href="#">
                                    <h4>{{ 'bestSelling-box.jante' | translate }}</h4>
                                </a></div>
                            <div class="product-rating"><img
                                    src="https://multifix24.es/wp-content/uploads/2019/03/multifix24-5-estrellas.png"
                                    alt="" /></div>
                            <div class="product-price">
                                <h5>$35.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="products">
                        <div class="product-img"><img src="../../assets/jante6.jpg" alt="" /></div>
                        <div class="product-desc">
                            <div class="product-name"><a href="#">
                                    <h4>{{ 'bestSelling-box.jante' | translate }}</h4>
                                </a></div>
                            <div class="product-rating"><img
                                    src="https://multifix24.es/wp-content/uploads/2019/03/multifix24-5-estrellas.png"
                                    alt="" /></div>
                            <div class="product-price">
                                <h5>$35.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="products">
                        <div class="product-img"><img src="../../assets/jante7.jpg" alt="" /></div>
                        <div class="product-desc">
                            <div class="product-name"><a href="#">
                                    <h4>{{ 'bestSelling-box.jante' | translate }}</h4>
                                </a></div>
                            <div class="product-rating"><img
                                    src="https://multifix24.es/wp-content/uploads/2019/03/multifix24-5-estrellas.png"
                                    alt="" /></div>
                            <div class="product-price">
                                <h5>$35.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 